div._form_fogot_password
  form#fogot_password
    p
      input(required='required', type='text', placeholder='Usermail', pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$").js_fogot_pass
    p
      input(type='submit', name='Login', value='Send password on mail').button_border
div._changet_fogot_password._changet_fogot_password_style
  p We generate new password, check your mail
