sections.gallery
  div.user_show
    p.user_text_style#user_connected
  div.photo
    div#user_img.user_img_style
    div#pagination_links.pagination
sections.profile_background
sections.profile
    div.prifle_data
      div.link_close
        p.title_profile Profile
        a(href='#' onclick="coseProfile()").link_underline Close
      div.profile_user
        div.profile_user_form
          div._form_name
            form#change_login
              p
                input(onchange='profile_close_error_message_login()', name='', required='required', type='text', placeholder='Username', pattern="^[A-Za-z0-9_]{3,15}$").js_change_login
              span.js_change_value_user_found.change_value_style A user already exists 
              p
                input(type='submit', name='Login', value='Change your login').button_border
            div.change_value_sections.js_change_value_login
              p.js_change_value_login_value Changes have been made successfully
          div._form_mail
            form#change_mail
              p
                input(onchange='profile_close_error_message_email()', name='', required='required', type='text', placeholder='Usermail', pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$").js_change_mail
              span.js_change_value_mail_found.change_value_style This email already exists 
              p
                input(type='submit', name='Login', value='Change your mail').button_border
            div.change_value_sections.js_change_value_mail
              p Changes have been made successfully
          div._form_pass
            form#change_pass
              p
                input(onchange='profile_close_error_message_pass_old_not_found()', name='', required='required', type='password', placeholder='Old password', pattern="^(?=.*[A-Z])(?=.*[0-9]).{6,32}$").js_change_pass_old
              span.js_change_value_pass_old_not_found.change_value_style Old password not found
              p
                input(onchange='profile_close_error_message_pass_not_found()', name='', required='required', type='password', placeholder='New password', pattern="^(?=.*[A-Z])(?=.*[0-9]).{6,32}$").js_change_pass_new
              span.js_change_value_pass_not_found.change_value_style Password is not identical
              p
                input(onchange='profile_close_error_message_pass_not_eql()', name='', required='required', type='password', placeholder='Repeat new password', pattern="^(?=.*[A-Z])(?=.*[0-9]).{6,32}$").js_change_pass_rep
              span.js_change_value_pass_not_eql.change_value_style Old and new password must be different
              p
                input(type='submit', name='Login', value='Change your password').button_border
            div.change_value_sections.js_change_value_pass
              p Changes have been made successfully
          div._form_mail
            form#comment_mail
              p._form_mail_text Receive messages when photo was commented
              input(type='submit', name='', value='').button_border.mail_status
sections.camera
  div.camera_data
    div.link_close
      p.title_profile Camera
      a(href='#' onclick="closeCamera()").link_underline Close
    div.camera_view#container
      div#video_container
        video(autoplay='true')#videoElement
        canvas#canvas
      div.photos_block
        div.images
          img(src='../img/actors_0.png').img_style
          img(src='../img/actors_1.png').img_style
          img(src='../img/ak-47.png').img_style
          img(src='../img/beard_0.png').img_style
          img(src='../img/beard_1.png').img_style
          img(src='../img/beard_2.png').img_style
          img(src='../img/beard_3.png').img_style
          img(src='../img/beard_4.png').img_style
          img(src='../img/beard_5.png').img_style
          img(src='../img/bomb.png').img_style
          img(src='../img/girls_0.png').img_style
          img(src='../img/girls_1.png').img_style
          img(src='../img/other_0.png').img_style
          img(src='../img/other_1.png').img_style
          img(src='../img/bow_0.png').img_style
          img(src='../img/bow_1.png').img_style 
          img(src='../img/cap_0.png').img_style
          img(src='../img/cap_1.png').img_style
          img(src='../img/cap_2.png').img_style
          img(src='../img/cap_3.png').img_style
          img(src='../img/hair_0.png').img_style
          img(src='../img/hair_1.png').img_style 
          img(src='../img/hair_2.png').img_style
          img(src='../img/hair_3.png').img_style
          img(src='../img/hair_4.png').img_style
          img(src='../img/hair_5.png').img_style
          img(src='../img/hair_6.png').img_style
          img(src='../img/hair_7.png').img_style
          img(src='../img/headphones_0.png').img_style
          img(src='../img/headphones_1.png').img_style
          img(src='../img/scar_0.png').img_style
          img(src='../img/scar_1.png').img_style
          img(src='../img/scar_2.png').img_style
          img(src='../img/sheriff_0.png').img_style
          img(src='../img/sheriff_1.png').img_style
          img(src='../img/sheriff_2.png').img_style
          img(src='../img/teeth_0.png').img_style
        div.user_photos#user_photos 
    div.control_button
      a(href='#')#cameraOn.makephoto_button.makephoto_block Camera on
      a(href='#')#makePhoto.makephoto_button.makephoto_none Make photo
      a(href='#')#savePhoto.makephoto_button.makephoto_none Save photo
      a(href='#')#makePhoto.makephoto_button.makephoto_none Make photo
      a(href='#')#savePhoto.makephoto_button.makephoto_none Save photo
      a(href='#')#increase.makephoto_button.makephoto_none +
      a(href='#')#decrease.makephoto_button.makephoto_none -
      label.lable_flex#uploadPhoto.makephoto_button
        input(type='file').input_display
        i.fa.fa-cloud-upload Upload
      a(href='#')#downloadPhoto.makephoto_button.makephoto_none Download
      a(href='#')#remove.makephoto_button.makephoto_none Remove last
sections.comments
  div.comments_close
    p.comments_text_style comments
    p(onclick="close_comments()").comments_text_style close
  div.comments_overflow
    div.comment_photo
      img(width="600" height="400").comment_photo_img#comment_img
      p.comment_photo_user_creat#comment_user 
    div.input_text
      form().comment_form#add_comment
        textarea(name='message', cols='30', required ).comment_textarea#comment_text
        div.comment_button_block
          input(type='submit' value='add comment').comment_button
      div.comment_add.js_comment_add
        p Comment added
  div.comments_user#comment
