nav.nav_flex
  div
    ul.text_rotate.text_style.text_list_flex.nav_margin
      li.nav_margin_link.js_nav_login
        a(href='#' onclick="login()").nav_link Login
      li.nav_margin_link.js_nav_logout
        a(href='#' onclick="logout()").nav_link Logout
      li.nav_margin_link.js_nav_profile
          a(href='#' onclick="profile()").nav_link Profile
      li.nav_margin_link.js_nav_registrations
        a(href='#' onclick="registrations()").nav_link Registrations
      li.nav_margin_link.js_nav_camera
          a(href='#' onclick="camera()").nav_link.js_nav_camera Camera
  div.title.text_style.title_margin.anim-typewriter Camagru
