doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Camagru
        meta(name="viewport" content="width=device-width, initial-scale=1.0 , minimum-scale=1, maximum-scale=1")
        link(rel="stylesheet" href="css/main.css")
    body
      include _sections/_nav
      include _sections/_fogot_password.pug
      include _sections/_registrations
      include _sections/_login
      include _sections/_database_error
      include _sections/_main
      script(src='/js/scripts.js')
      script(src='/js/social.js')
      script(src='/js/camera.js')
